.login-page{
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page form{
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.login-page button{
  margin-top: 10px;
}